<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <title>Techno</title>
</head>
<body>
    <div id="app">

        <section class="modal" v-if="detalhes">
            <div class="modal_container">
                <div class="modal-img">
                    <img :src="detalhes.img" :alt="detalhes.nome">
                </div>
                <div class="modal_dados">
                    <span class="modal_preco">{{detalhes.preco | precoFormat}}</span>
                    <h2 class="modal_titulo">{{detalhes.nome}}</h2>
                    <p>{{detalhes.descricao}}</p>
                    <button class="modal_btn">Adicionar item</button>
                </div>
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                    <ul>
                        <li v-for="(avaliacao) in detalhes.reviews" class="avaliacao">
                            <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
                            <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section class="produtos">
            <div class="produto" v-for="(produto) in produtos" :key="produto.id" @click="descProduto(produto.id)">
                <img :src="produto.img" :alt="produto.nome" class="produto_img" />
                <div class="produto_info">
                    <span class="produto_preco">{{produto.preco | precoFormat}}</span>
                    <h2 class="produto_titulo">{{produto.nome}}</h2>
                </div>
            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>
</html>